* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: system-ui;
  /* color: #f5f1f1; */
}

html,
body {
  height: 100%;
  width: 100%;

}

body {
  background-color: #000000ea;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
  height: 370px;
  width: 280px;
  background-color: #f5f1f1;
  border-radius: 30px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  /* padding: 30px; */

}

.card .top {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* background-color: aqua; */
}

.top .image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid rgb(215, 215, 215);

  display: flex;
  align-items: center;
  justify-content: center;
}

.top img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid red; */
}

.top button {
  border: 1px solid rgb(193, 193, 193);
  border-radius: 12px;
  background-color: #f5f1f1;
  padding: 5px 15px;


  /* height: 40px;
  width:  90px; */

  display: flex;
  align-items: center;
  gap: 8px;
  /* justify-content: center; */

  cursor: pointer;
  margin-bottom: 22px;
}

.card .center {
  display: flex;
  flex-direction: column;
  margin: 20px 11px;

}


.center h3 {
  font-weight: 400;
}

.center span {
  font-size: 13px;
  color: #949494;
}

.center h2 {
  font-weight: 400;
}

.center .tags {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.tags h4 {
  background-color: #dbdbdb;
  font-size: small;
  padding: 7px 12px;
  border-radius: 7px;
  font-weight: 300;
}

.card .bottom {
  border-top: 1px solid rgb(211, 210, 210);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 20px;
  /* background-color: aqua; */
}

.bottom button {
  border: none;
  border-radius: 10px;
  background-color: #121212ec;
  color: rgb(229, 229, 229);
  padding: 8px 15px;

  cursor: pointer;
}