*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: system-ui ;
  /* color: #f5f1f1; */
}

html, body{
  height: 100%;
  width: 100%;

}

body{
  background-color: #392626da;
}

.card{
  height: 350px;
  width: 280px;
  background-color: #f5f1f1;
  border-radius: 30px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  padding: 10px;

}

.card .top{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */

  background-color: aqua;
}

.top img{
  height: 40px;
  border-radius: 50%;
  /* border: 2px solid red; */
}

.top button{
  border: none;
  border-radius: 5px;
  background-color: #dfdbdb;
  padding: 10px;

  margin-bottom: 30px;
}

.card